@import url(/src/index.scss);

.container-menus {
    display: flex;
    justify-content: center;

    .menus-redes {

        .redes {

            .menu-titulo {
                font-size: 14px;
            }

            div {

                i {
                    margin-right: 15px;
                    font-size: 22px;
                    color: var(--gris-medio);
                }
            }
        }

        .contacto {

            .menu-titulo {
                font-size: 14px;
            }

            div {

                p {
                    font-size: 14px;
                    color: var(--gris-medio);
                    font-weight: 200;

                    i {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .menus {

        .menu-lista {
            list-style: none;

            .menu-titulo {
                font-size: 14px;
                text-transform: uppercase;
            }

            li {

                a {
                    text-decoration: none;
                    line-height: 1.8;
                    font-weight: 200;
                    color: var(--gris-medio);
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {

    .container-menus {
        
        .menus {
    
            .menu-lista {
    
                li {
                    display: none;
                }
            }
        }
    }
    
}

@media screen and (max-width:850px) {

    .container-menus {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .menus-redes {

            .redes {
        
                div {
    
                    i {
                        margin: 0 5px;
                    }
                }
            }
        }

        .menus {
            display: none;
        }
        
    }
    
}