@import url(/src/index.scss);

.navbar-navIcons {
    
    .navIcons-links {
        list-style: none;
        display: flex;        

        li {

            .links-link {
                margin-left: 15px;
                color: var(--blanco-azulado);
            }

            .links-link:hover {
                color: var(--rojo);
            }
        }
        
    }   
}