.container-bannerPromos {
    .bannerPromos-link {
        .link-img {
            display: block;
            margin: 0 auto;
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
}